{% extends 'company/company_base.html' %}
{% load static %}
{% block content %}
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<br><br><br><br>
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h2 class="mb-5 text-uppercase">Feedback Reply</h2>

        </div>
      </div>

    </div>
  </div>
</section>
<!--/ Intro Single End /-->
<br><br><br><br>
<!--/ Contact Star /-->
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-map box">

        </div>
      </div>
        <div class="col-sm-12 section-t8">
          <div class="row">
            <div class="col-md-12">
              <div class="container add-emp" style="overflow-x:auto;border-radius: 5px;
              background-color: #f2f2f2;
              padding: 20px;
                margin-top: -150px;">
   <table class="table table-bordered table-striped table-hover">
  <tr>
    <th class="info" style="background-color: lightgreen;">Name</th>
    <th class="info" style="background-color: lightgreen;">Email</th>
    <th class="info" style="background-color: lightgreen;">Subject</th>
    <th class="info" style="background-color: lightgreen;">Feedback</th>
    <th class="info" style="background-color: lightgreen;">Reply</th>

  </tr>
  {% for dri in replay  %}
  <tr>
    <td>{{ dri.name }}</td>
    <td>{{ dri.email }}</td>
    <td>{{ dri.subject }}</td>
    <td>{{ dri.feedback }}</td>
    <td>{{ dri.action }}</td>

  </tr>
{% endfor %}
</table>

</div>
</div>
</div>
</div>
</div>
</div>
</section>



  {% endblock %}