
{% extends 'company/company_base.html' %}
{% load static %}
{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<br><br><br><br>
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h2 class="mb-5 text-uppercase">Vehicle list</h2>

        </div>
      </div>

    </div>
  </div>
</section>
<!--/ Intro Single End /-->
<br><br><br><br>
<!--/ Contact Star /-->
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-map box">

        </div>
      </div>
        <div class="col-sm-12 section-t8">
          <div class="row">
            <div class="col-md-12">
              <div class="container add-emp" style="overflow-x:auto;border-radius: 5px;
              background-color: #f2f2f2;
              padding: 20px;
                margin-top: -150px;">
   <table class="table table-bordered table-striped table-hover">

<th class="info" style="background-color: lightgreen;">Brand</th>
<th class="info" style="background-color: lightgreen;">Vehicle Name</th>
<th class="info" style="background-color: lightgreen;">Vehicle Number </th>
<th class="info" style="background-color: lightgreen;">Vehicle Type </th>
<th class="info" style="background-color: lightgreen;">year</th>
<th class="info" style="background-color: lightgreen;">RC no.</th>
<th class="info" style="background-color: lightgreen;">RC Expiry Date</th>
<th class="info" style="background-color: lightgreen;">RC Due In</th>
<th class="info" style="background-color: lightgreen;">Insurance No</th>
<th class="info" style="background-color: lightgreen;">Insurance Expiry Date</th>
<th class="info" style="background-color: lightgreen;">Insurance Due In</th>
<th class="info" style="background-color: lightgreen;">Status</th>
<th class="info" style="background-color: lightgreen;">Action</th>
{% for dri in v_list  %}

<tr>
    <td>{{ dri.brand}}</td>
    <td>{{ dri.car_name}}</td>
    <td>{{ dri.car_number}}</td>
    <td>{{ dri.vehtype}}</td>
    <td>{{ dri.year}}</td>
    <td>{{ dri.rc_no}}</td>
    <td>{{ dri.rc_exp}}</td>
    {% if dri.rc_exp|date:"Y-m-d" == today|date:"Y-m-d" %}
    <td>Your RC has Expired</td>
    {% else %}
    <td>{{ dri.rc_exp|timeuntil}}</td>
    {% endif %}
    <td>{{ dri.insurance_no}}</td>
    <td>{{ dri.insurance_exp}}</td>
    {% if dri.insurance_exp|date:"Y-m-d" == today|date:"Y-m-d" %}
    <td>Your Insurance has Expired</td>
    {% else %}
    <td>{{ dri.insurance_exp|timeuntil}}</td>
    {% endif %}
    {% if dri.status == "available" %}
    <td><a href="UnAvailable?id={{ dri.id}}" class=" btn btn-success">Available</a></td>
    {% else %}
    <td><a href="Available?id={{ dri.id}}" class=" btn btn-danger">Unavailable</a></td>
    {% endif %}
    <td><a href="Update_vehicle?id={{ dri.id}}" class="btn btn-info">Update</a></td>

</tr>

    {% endfor %}
</table>
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
  <!--/ Contact End /-->

  <!--/ footer Star /-->
