{% extends 'base.html' %}

{% load static %}


{% block content %}

{% if message %}
<script>
  alert("{{message}}")
</script>
{% endif %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5" style="margin-bottom: 6rem;">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Register</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Company Registration</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <form class="h-100 h-custom bg-dark" action="comp_reg" method="post">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-10">
              <div class="card rounded-3">
                <img src="{% static 'img/company.jpg' %}"
                  class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                  alt="Sample photo">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Company Registration Info</h3>
                  {% csrf_token %}
                  <div class="form-outline mb-4">
                    <input type="text" name="company_name" placeholder="Company Name" class="form-control form-control-lg" required/>
                    
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" name="username" placeholder="Username" class="form-control form-control-lg" required/>
                    
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" name="mobile" placeholder="Mobile No." class="form-control form-control-lg"  pattern="[0-9]{10}" required/>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" name="email" placeholder="Email ID" class="form-control form-control-lg" 
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required/>
                    
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" name="password" placeholder="password" class="form-control form-control-lg" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
                    
                  </div>

                  
  
                  <div class="form-outline mb-4">
                    <input type="text" name="district" placeholder="District" class="form-control form-control-lg" required/>
                    
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" name="state" placeholder="State" class="form-control form-control-lg" required/>
                    
                  </div>
  
                  <div class="form-outline mb-4 ">
                    <input type="text" name="address" placeholder="Address" class="form-control form-control-lg" required/>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" name="pincode" placeholder="Pincode" class="form-control form-control-lg" pattern="[0-9]{6}"  required />
                    
                  </div>
                  

                  
                  <div class="d-flex justify-content-end pt-3">
                    <button type="Submit" class="btn btn-warning btn-lg ms-2">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
        

      {% endblock  %}