{% extends 'freelance_driver/driver_base.html' %}
{% load static %}
{% block content %}
    {% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<br><br>
  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">ADD VEHICLE</h1>
{#            <span class="color-text-a">Aut voluptas consequatur unde sed omnis ex placeat quis eos. Aut natus officia corrupti qui autem fugit consectetur quo. Et ipsum eveniet laboriosam voluptas beatae possimus qui ducimus. Et voluptatem deleniti. Voluptatum voluptatibus amet. Et esse sed omnis inventore hic culpa.</span>#}
          </div>
        </div>


      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Contact Star /-->
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-map box">
{#            <div id="map" class="contact-map">#}
{#              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1422937950147!2d-73.98731968482413!3d40.75889497932681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855c6480299%3A0x55194ec5a1ae072e!2sTimes+Square!5e0!3m2!1ses-419!2sve!4v1510329142834"#}
{#                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>#}
{#            </div>#}
          </div>
        </div>
        <div class="col-sm-12 section-t8">
          <div class="row">
            <div class="col-md-7">
              <div style=" border-radius: 5px;
  background-color: silver;
  padding: 20px;">
   <form method="post" action=""  enctype="multipart/form-data">
       {% csrf_token %}
    <label for="fname"></label>
    <input type="text" id="fname" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" name="car_number" placeholder="Vehicle Number.."  required>

    <label for="lname"></label>
    <input type="text" id="lname" name="car_name" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" placeholder="Vehicle Name.."  required>
<br>
<br>
<div class="form-outline mb-4">
  <select name="vehtype" class="form-control selectpicker"  required>
    <option value="" >Select Vehicle Type</option>
  {% for i in veh  %}
    <option value="{{ i.veh_type}}">{{i.veh_type}}</option>
  {% endfor %}
  </select>
</div>

  <label for="lname"></label>
    <input type="text" id="lname" name="brand" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" placeholder="Brand" required>

  <label for="lname"></label>
    <input type="text" id="lname" name="year" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" placeholder="year" pattern="[0-9]{4}"  title="Please Enter a Valid Year" required>
  <label for="lname"></label>
  <input type="text" id="lname" name="rc_no" style="width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;" placeholder="RC Book No" pattern="[a-zA-Z0-9]{10}" title="Please Enter a Valid RC Book Number" required>

<label style="margin-top:30px;">RC Expiry Date</label>
<input type="date" id="datefield" name="rc_expiry_date" style="width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;" required>

    <input type="text" id="lname" name="insurance_no" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-top:30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" placeholder="Insurance Policy No" pattern="[a-zA-Z0-9]{10}" title="Please Enter a Valid Insurance Policy Number" required>
  
  <label style="margin-top:30px;">Insurance Expiry Date</label>
  <input type="date" id="datefield1" name="insurance_expiry_date" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" required>


    <input type="submit" style="width: 100%;background-color: #4CAF50;color: white;padding: 14px 20px;margin: 30px 0;border: none;border-radius: 4px;cursor: pointer;" value="Submit">
  </form>
</div>
<script>
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth() + 1; //January is 0!
  var yyyy = today.getFullYear();
  
  if (dd < 10) {
     dd = '0' + dd;
  }
  
  if (mm < 10) {
     mm = '0' + mm;
  } 
      
  today = yyyy + '-' + mm + '-' + dd;
  document.getElementById("datefield").setAttribute("min", today);
  document.getElementById("datefield1").setAttribute("min", today);
  </script>

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
  <!--/ Contact End /-->

  <!--/ footer Star /-->
